@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /* ### Primary */

  --soft-blue: #8bacd9;
  --cyan: #00fff8;

  /* ### Neutral */

  --bg-body-blue: #0d192c; /* (main BG) */
  --bg-card-blue: #15263f; /* (card BG) */
  --line-blue: hsl(215, 32%, 27%); /* (line) */
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  background-color: var(--bg-body-blue);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========
  CARD
  ========== */

.card {
  border-radius: 0.9375rem;
  background: var(--bg-card-blue);
  box-shadow: 0 1.5625rem 3.125rem 0 rgba(0, 0, 0, 0.1);
  width: 87.2%;
  max-width: 21.875rem;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

/* ==========
  CARD IMG
  ========== */

.card-img {
  width: 100%;
  height: 17.375rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  background-image: url("./images/image-equilibrium.jpg");
  background-size: cover;
  background-position: center;
}

.view-icon {
  display: none;
}

/* ==========
  CARD INFO
  ========== */
.card-title {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.card-title a {
  color: var(--white);
  text-decoration: none;
}

.card-info p {
  color: var(--soft-blue);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.625rem;
  margin-bottom: 1rem;
}

/* ==========
  CARD INFO - PRICE/TIME
  ========== */
.card-info__price-time {
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--line-blue);
}

.card-info__price-time,
.card-info__price-time span {
  display: flex;
  align-items: center;
}

.card-info__price-time .icon {
  margin-right: 6.48px;
}

.card-info__price-time .price {
  color: var(--cyan);
  font-size: 0.9375rem;
  font-weight: 600;
}

.card-info__price-time .time {
  color: var(--soft-blue);
  font-size: 0.9375rem;
  font-weight: 400;
}

/* ==========
  ARTIST INFO
  ========== */
.artist-info {
  display: flex;
  align-items: center;
}

.artist-img {
  width: 1.9375rem;
  height: 1.9375rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--white);
  margin-right: 1rem;
}

.artist-info p {
  color: var(--soft-blue);
  font-size: 0.9375rem;
  font-weight: 400;
}

.artist-info p a {
  color: var(--white);
  text-decoration: none;
}

/* ============================================================
  MEDIA QUERIES
  ============================================================ */

@media (min-width: 48rem) {
  /* ==========
  CARD IMG
  ========== */
  .card-img {
    position: relative;
    height: 18.875rem;
    overflow: hidden;
    cursor: pointer;
  }

  .card-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--cyan);
    opacity: 0;
    /* transition: opacity 0.3s ease-in-out; */
    border-radius: 0.5rem;
  }

  .card-img:hover::before {
    opacity: 0.503;
  }

  .view-icon {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .card-img:hover .view-icon {
    display: block;
  }

  /* ==========
  CARD INFO
  ========== */
  .card-title {
    margin-bottom: 1rem;
  }

  .card-title a {
    transition: all 0.3s ease-in-out;
  }

  .card-title a:hover {
    color: var(--cyan);
  }

  .card-info p {
    margin-bottom: 1.5rem;
  }

  /* ==========
  CARD INFO - PRICE/TIME
  ========== */
  .card-info__price-time {
    padding-bottom: 1.5rem;
  }

  .card-info__price-time .price {
    font-size: 1rem;
  }

  .card-info__price-time .time {
    font-size: 1rem;
  }

  /* ==========
  ARTIST INFO
  ========== */
  .artist-info p {
    color: var(--soft-blue);
    font-size: 0.9375rem;
    font-weight: 400;
  }

  .artist-info p a {
    transition: all 0.3s ease-in-out;
  }

  .artist-info p a:hover {
    color: var(--cyan);
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-23 17:23:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
