@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

html {
  font-size: 16px;
}

body {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}

/* ==============================================================
 MOBILE STYLES
 ============================================================== */

/* ==========
 TYPOGRAPHY
 ========== */
.btn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #fff;
  border: none;
  outline: none;
}

.hero-section__h1 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.125rem;
  color: #13183f;
  margin-bottom: 1.625rem;
}

p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #83869a;
  margin-bottom: 1.5rem;
}

.about-section__h2 {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
}

.h2-container {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  padding: 1.5rem 1.8125rem 2rem 1.75rem;
}

.about-section__component__h3 {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  color: #13183f;
  margin-bottom: 1rem;
}

.about-section__component__link {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #f74780;
  text-decoration: none;
}

/* ==========
 LAYOUT
 ========== */
main {
  width: 100%;
  min-height: 100vh;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 2.375rem auto;
  width: 91.4666666667%;
}

.btn__header {
  background: #13183f;
  border-radius: 28px;
  padding: 0.5625rem 1.5rem 0.6875rem;
}

/* HERO SECTION */
.hero-section {
  margin: 0 auto;
  width: 91.4666666667%;
}

.hero-section__text-container {
  max-width: 457px;
}

.btn__hero-section {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  padding: 0.9375rem 2.3125rem 0.9375rem 2.375rem;
}

.hero-section__img {
  margin: 0 auto;
}

/* ABOUT SECTION */
.about-section {
  width: 87.5%;
  margin: 0 auto 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.about-section__component {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 3.5rem 1.8125rem 2rem 1.75rem;
}

.about-section__component-icon {
  position: absolute;
  top: -1.5rem;
  left: 1.75rem;
}

.study-img {
  display: none;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #13183f;
  padding: 2.25rem 4.26666666667%;
}

.btn__footer {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  padding: 0.5625rem 1.5rem 0.6875rem;
}

/* ==============================================================
 TABLET STYLES
 ============================================================== */
@media (min-width: 768px) {
  body {
    background-image: url("assets/image-hero-tablet@2x.webp");
    background-size: clamp(640.71px, 100%, 640px);
    background-repeat: no-repeat;
    background-position: right -267.71px top -72px;
  }

  /* ==========
  TYPOGRAPHY
  ========== */
  .hero-section__h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
    margin-bottom: 1.5625rem;
  }

  /* ==========
  LAYOUT
  ========== */
  /* HEADER */
  header {
    margin: 1.5rem auto 6.1875rem auto;
    width: 89.7135416667%;
  }

  /* HERO SECTION */
  .hero-section {
    margin: 0 auto 13.125rem auto;
    width: 89.7135416667%;
  }

  .hero-section__text-container {
    width: 57.7648766328%;
    max-width: 457px;
  }

  .hero-section__img {
    display: none;
  }

  /* ABOUT SECTION */
  .about-section {
    width: 89.7135416667%;
    margin: 0 auto 6rem auto;
    display: grid;
    grid-template-columns: repeat(2, 49.2017416546%);
    gap: 3.5rem 1.59651669086%;
  }

  .h2-container {
    padding: 3.5rem 1.3125rem 8.6875rem 2rem;
  }

  /* FOOTER */
  footer {
    padding: 2.25rem 5.078125%;
  }
}

/* ==============================================================
 DESKTOP STYLES
 ============================================================== */
@media (min-width: 1440px) {
  body {
    background-image: url("assets/image-hero-desktop@2x.webp");
    background-size: 991.63px, 936.92px;
    background-position: right -335px top -146.13px;
  }

  /* ==========
  TYPOGRAPHY
  ========== */
  .btn {
    font-size: 1.125rem;
    cursor: pointer;
  }

  .hero-section__h1 {
    font-size: 3.5rem;
    line-height: 4.4375rem;
    margin-bottom: 1.8125rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .design-component p,
  .photography-component p {
    margin-bottom: 3.25rem;
  }

  .about-section__h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .about-section__component__h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-bottom: 1.5rem;
  }

  /* ==========
  LAYOUT
  ========== */
  /* HEADER */
  header {
    margin: 1.8125rem auto 11.125rem auto;
    width: 77.0833333333%;
  }

  .btn__header,
  .btn__footer {
    padding: 0.875rem 1.9375rem 0.875rem 2rem;
  }

  .btn__header:hover,
  .btn__header:focus {
    background: #666ca3;
  }

  /* HERO SECTION */
  .hero-section {
    margin: 0 auto 15.625rem auto;
    width: 77.0833333333%;
  }

  .btn__hero-section:hover,
  .btn__hero-section:focus {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  }

  /* ABOUT SECTION */
  .about-section {
    width: 77.0833333333%;
    margin: 0 auto 8.75rem auto;
    grid-template-columns: repeat(3, 31.5315315315%);
    gap: 5rem 2.7027027027%;
  }

  .h2-container {
    position: relative;
    padding: 4rem 2rem 8.625rem;
    overflow: hidden;
  }

  .study-img {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 250px;
    right: -250px;
    transition: right 0.5s ease-in-out;
  }

  .h2-container:hover .study-img {
    right: -32px;
  }

  .about-section__component {
    transition: all 0.5s ease-in-out;
  }

  .about-section__component:hover {
    transform: scale(1.125);
  }

  /* FOOTER */
  footer {
    padding: 2rem 11.4583333333%;
  }

  .logo__footer {
    width: 7.125rem;
  }

  .btn__footer:hover,
  .btn__footer:focus {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  }

  /* ANIMATIONS */
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #f74780;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f74780;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
